<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ordered.css">
    <link rel="stylesheet" href="../css/style_mainQT.css">
    <link rel="stylesheet" href="/css/cart.css">
    
    <link rel="stylesheet" href="/font//fontawesome-free-6.2.0-web/css/all.min.css">
    <script src="https://kit.fontawesome.com/e06076012c.js" crossorigin="anonymous"></script>
    <script src="/code/jquery-3.6.0.min.js"></script>
    <script src="/code/click.js"></script>
    <title>Quản lý cửa hàng bán máy tính NCC</title>
</head>

<body  ng-app="AppBanHang"  ng-controller="hoadonAdminCtrl">
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button class="active" onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
                <button onclick="ThietLap()"><i class="fas fa-cogs"></i> Thiết lập</button>
            </div>
            <div class="bx-left" id="button-left">
                <a href="javascript:void(0)" class="closebtn" onclick="closeBTN()"><i
                        class="far fa-window-close"></i></a>
                <ul>
                    <li onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</li>
                    <li onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</li>
                    <li onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</li>
                    <li onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</li>
                    <li onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</li>
                    <li onclick="NhanVien()"><i class="fas fa-user"></i> Nhân viên</li>
                    <li onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</li>
                    <li onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</li>
                    <li onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</li>
                    <li onclick="ThietLap()"><i class="fas fa-cogs"></i> Thiết lập</li>
                </ul>
            </div>
            <div class="col-11 col-s-12 content">
                
                <div class="col-12 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-shopping-cart"></i> Danh sách hóa đơn bán
                            <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                                chọn</button>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-10 col-s-12 padding-box">
                                <input ng-model = "nameSearch" type="text" id="search-export" placeholder="Nhập mã hóa đơn bán...">
                            </div>
                            <div class="col-2 col-s-12 padding-box">
                                <button ng-click = "searchHoaDon()"><i class="fas fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-s-12 padding-box table-data">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 10px;"><input type="checkbox"
                                                    onclick="CheckAll(this)"></th>
                                            
                                            <th>Khách hàng</th>
                                            <th>Số điện thoại</th>
                                            
                                            <th>Địa chỉ</th>
                                            
                                            <th>Ngày tạo</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listExport"></tbody>
                                    <tbody>
                                        <tr ng-repeat="hoadon in listSearch">
                                            
                                                <td style="text-align: center;padding-top: 10px;"><input type="checkbox" value="" id=""></td>
                                                
                                                <td>{{hoadon.tenKH}}</td>
                                                <td>{{hoadon.sdtkh}}</td>
                                                <td>{{hoadon.diachi}}</td>
                                                
                                                <td style="text-align: center;">{{hoadon.datehoadon}}</td>
                                                <td>
                                                    <button ng-click = "chitietHoaDon(hoadon)" class="chitiet">Chi tiết</button>
                                                </td>       

                                            
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-s-12 padding-box">
                                <div class="box-sum">
                                    <div class="box-left">
                                        Số lượng hóa đơn: <span id="soluong">0</span>
                                        <br>
                                        Tổng tiền: <span id="tongtienhd">0</span><span>đ</span>
                                    </div>
                                    <div class="box-right">
                                        <button><i class="fas fa-angle-left"></i></button>
                                        <button class = "btn-number" ng-click="pageChange('1')" >1</button>
                                        <button class = "btn-number" ng-click="pageChange('2')">2</button>
                                        <button class = "btn-number" ng-click="pageChange('3')">3</button>
                                        <button class = "btn-number" ng-click="pageChange('4')">4</button>
                                        <button><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chitietHoaDon">
                            <ul  class="cart-list">
                                <div class="icon" ng-click = "close()">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="gwap-info__product">
                                    <li class="cart-item">
                                        <div class="cart-item" >
                                            <div class="cart-shop">
                                                
                                                <span class="name-shop">
                                                    {{infoproduct.namecategory}}
                                                    
                                                </span>
                                            
                                            </div>
                                        </div>
                                        <div class="cart-prodcut">
                                            <div class="product-item">
                                                <div class="checkboxGwap">
                        
                                                    <input type="checkbox" name="" id="check-box check-tf">
                                                </div>
                                                <div class="product-gwap">
                                                    <div class="product-img">
                                                        <img src="{{infoproduct.imgproduct}}" alt="">
                                                    </div>
                                                    <div class = "gwap-title">
                                                        <span class="product-title">
                                                            {{infoproduct.nameproduct}}
                                                        </span>
                                                        <img src="/img/sale.png" alt="" class="img-sale">
                        
                                                    </div>
                                                </div>
                                                <div class="product-category">
                                                    <span class="category">
                                                        Phân loại hàng
                                                        <i class="fa-solid fa-caret-down"></i>
                                                    </span>
                                                    <span class="category-new">
                                                        {{infoproduct.namecategory}}
                                                    </span>
                                                </div>
                                                
                                                <div class="gwap-number">
                                                    <div class="quantity">
                                                        Số Lượng : 
                                                      {{chitiethoadon.soluong}}
                                                        
                                                    </div>
                                                </div>
                                                <div class="into-money">
                                                    Giá Tiền : 
                                                    <span class = "price-now">{{chitiethoadon.dongia}}Đ</span>
                                                    
                                                </div>
                                                <div class="delete-search">
                                                   
                                                    <a class="link-pay">
                                                        <button ng-click="confirmDelete()" class="buy-now">
                                                            Hủy đơn
                                                        </button>
                                                        
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </li>
                
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src = "/code/angular.min.js"></script>
        <script src = "/code/global.js"></script>
        <script src = "/code/hoadonAdmin.js"></script>
        <script>
           
            

            function CheckAll(parent) {
                var ids = document.getElementsByTagName('input');
                for (var i = 0; i < ids.length; i++) {
                    if (ids[i].name == "check_all") {
                        ids[i].checked = parent.checked;
                    }
                }
            }
        </script>
    </section>
</body>

</html>