<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <script src="https://kit.fontawesome.com/e06076012c.js" crossorigin="anonymous"></script>
    <script src="/code/jquery-3.6.0.min.js"></script>
    <title>Shoppe</title>
</head>

<body ng-app="AppBanHang"  ng-controller="LoginCtrl">
    <div class="modal">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            
             <div class="auth-form sub">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng ký</h3>
                        <span class="auth-form__switch-btn sub">Đăng Nhập</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input ng-model = "tk" type="text" class="auth-form__input" placeholder="Email của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input ng-model = "mk" type="password" class="auth-form__input password" placeholder="mật khẩu của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input ng-model = "mkAgain" type="password" class="auth-form__input password-again " placeholder="nhập lại mật khẩu">
                            <p class="messerro">password không trùng khớp</p>
                        </div>
                    </div>

                    <div class="auth-form__aside">
                        <p class="auth-form__policy-text">
                            Bằng việc đăng kí, bạn đã đồng ý với shoppe về
                            <a href="" class="auth-form__policy-link">Điều khoản dịch vụ</a> &
                            <a href="" class="auth-form__policy-link">chính sách bảo mật</a>


                        </p>
                    </div>

                    <div class="auth-form__controls">
                        <button class="btn btn--nomal auth-form__controls-back">TRỞ LẠI </button>
                        <button ng-click = "createAccount()" class="btn sub btn--primary ">ĐĂNG KÝ</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="btn auth-form__socials-facebook btn--size-s btn--with-icon">
                        <i class="fa-brands  fa-square-facebook auth-form__socials-icon"></i>
                        <span class="auth-form__socials-title">

                            Kết nối với facebook
                        </span>
                    </a>
                    <a href="" class="btn auth-form__socials-google btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-google "></i>
                        <span class="auth-form__socials-title">

                            
                            Kết nối với google
                        </span>
                    </a>
                </div>

            </div>
             <!-- form dang nhap -->
            <div class="auth-form login">
                <form class="auth-form__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <span class="auth-form__switch-btn login">Đăng ký</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input ng-model="userName" type="text" class="auth-form__input" id ="tk"  placeholder="Email của bạn">
                        </div>
                        <div class="auth-form__group">
                            <input ng-model="password" type="password" class="auth-form__input" id ="mk" placeholder="mật khẩu của bạn">
                        </div>

                        
                    </div>

                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên Mật Khẩu</a>
                            <span class="auth-form__help-separate">

                            </span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>

                    <div class="auth-form__controls">
                        <button class="btn btn--nomal auth-form__controls-back">TRỞ LẠI </button>
                        <a href="#" ng-click="login()" type="submit" class="
                        btn btn--primary">ĐĂNG NHẬP</a>
                    </div>
                </form>
                <div class="auth-form__socials">
                    <a href="" class="btn auth-form__socials-facebook btn--size-s btn--with-icon">
                        <i class="fa-brands  fa-square-facebook auth-form__socials-icon"></i>
                        <span class="auth-form__socials-title">

                            Kết nối với facebook
                        </span>
                    </a>
                    <a href="" class="btn auth-form__socials-google btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fa-brands fa-google "></i>
                        <span class="auth-form__socials-title">

                            
                            Kết nối với google
                        </span>
                    </a>
                </div>

            </div> 

        
         </div> 
    </div> 
    <script src = "/code/angular.min.js"></script>
    <script src = "/code/global.js"></script>
    <script src = "/code/login.js">

        // login
        
        const modal = document.querySelector(".modal")
        const formSub = document.querySelector(".auth-form.sub")
        const formLogin = document.querySelector(".auth-form.login");
        const spanSub = document.querySelector(".auth-form__switch-btn.sub")
        const spanLogin = document.querySelector(".auth-form__switch-btn.login");
        const btnBacks = document.querySelectorAll(".auth-form__controls-back")


        
    </script>
</body>

</html>