.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .content-in .box-right {
        display: none;
    }
}

.main {
    max-width: 1220px;
}

.main .padding-form {
    padding: 15px;
}

.main .row {
    margin-top: 10px;
}

.main .title {
    font-weight: bold;
    font-size: 26px;
}

.main .note {
    font-size: 14px;
    color: black;
    font-style: italic;
}

.main span {
    color: red;
}

.main input {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
}

.main textarea {
    max-width: 100%;
    min-width: 20%;
    min-height: 40px;
    padding: 8px 10px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .trace {
    border-bottom: 3px solid #dbdbdb;
    border-top: 3px solid #dbdbdb;
    font-weight: bold;
    padding: 5px 0px;
}

.main .pay {
    border-bottom: 1px solid #dbdbdb;
}

.main .pay:last-child {
    border: none;
}

.main .pay button {
    border: none;
    background-color: #00a2ff;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.main .pay button:hover {
    opacity: 0.7;
}

.main .payments {
    margin: 14px 0px;
}

.main .radio-payments {
    width: auto;
    cursor: pointer;
}

.main .label-payments {
    font-size: 14px;
}